streamlit
streamlit-folium
streamlit-lottie
fastapi
uvicorn[standard]
requests
geopy
pandas
python-dotenv
passlib[bcrypt]
python-jose[cryptography]
fastapi-mail
pydantic
stripe
google-auth
openpyxl
folium
gunicorn
httpx
aiohttp